.modal {
  width: 90%;
  box-shadow: 0 8px 43px rgba(16, 33, 54, 0.59);
  border-radius: 35px;
  background-color: rgb(16, 33, 54, 0.8);
  margin-bottom: 40px;
  display: none;
  margin: 0 auto;
  transition: 700ms all ease-out;
}
.modalEffects {
  margin-left: -75%;
  opacity: 0;
}
.cityName {
  margin: 0;
  text-align: center;
  line-height: 80px;
  font-size: 32px;
  color: #fff;
}

.list-modal,
.list--days {
  color: rgba(255, 255, 255, 0.342);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  flex-wrap: wrap;
}

.modal-item,
.list--item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list--days {
  margin: 0 20px;
}

.list-modal {
  padding-bottom: 30px;
  margin: 0 40px;
}

.list--item {
  width: 130px;
}

.modal-item {
  width: 120px;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.342);
  padding: 15px 10px;
}

.icon--weather {
  width: 100%;
}

.temp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 18px;
}

.num {
  color: #ff6b08;
  letter-spacing: 0.75px;
  font-size: 25px;
  padding-bottom: 10px;
}

.num::after {
  content: '';
  display: inline-block;
  padding-bottom: 40px;
  background-image: url(../icons/elips2.png);
  width: 10px;
  height: 7px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon--overley {
  margin-bottom: 37px;
}

.line {
  border: 1px solid rgba(255, 255, 255, 0.342);
  max-height: 40px;
}

.name--day {
  margin-bottom: 18px;
  font-size: 18px;
}

.list--item:hover .name--day {
  color: #ff6b08;
}

.date-yarik {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 26px;
}

.more-info {
  color: rgba(255, 255, 255, 0.342);
  background-color: transparent;
  border: none;
  text-decoration: underline;
  outline: none;
  cursor: pointer;
}

.more-info:hover,
.more-info:focus {
  color: #ff6b08;
}

.bonus {
  list-style: none;
  padding: 0;
}

.bonus-item {
  display: flex;
}

.text {
  position: relative;
  padding-left: 30px;
  padding-bottom: 6px;
  margin: 0 0 5px 0;
}

.time {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.overlay-icon {
  margin: 20px;
}

.first::before {
  content: '';
  display: table;
  width: 24px;
  height: 20px;
  background-image: url(../icons/firstIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.second::before {
  content: '';
  display: table;
  width: 24px;
  height: 20px;
  background-image: url(../icons/secondIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.third::before {
  content: '';
  display: table;
  width: 24px;
  height: 20px;
  background-image: url(../icons/thirdIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.btn {
  display: flex;
  justify-content: center;
}

.show--chart {
  color: #ff6b08;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-decoration: underline;
}

.show--button {
  width: 27px;
  height: 27px;
  margin-left: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.342);
  outline: none;
  border: none;

  background-repeat: no-repeat;
  background-position: center;
}
